body {
	/* Предполагаю, что у всей страницы будет белый цвет. Остальные стили взяты из макета */
	color: var(--color-white);
	font-weight: 400;
	font-size: 12px;
	font-family: Inter, Arial, sans-serif; /* Arial — запасной шрифт, если Inter по каким-то причинам не подгрузится */
	line-height: 1.3;
	background-color: var(--color-white);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 15px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 25px;
	color: var(--color-blue-400);
	font-size: 14px;
	text-align: center;
	background-color: var(--color-light-100);
	border-radius: 6px;
	transition: opacity 0.3s, background-color 0.3s;
}

.button:active {
	opacity: 0.8;
}

@media (any-hover: hover) {
	.button:hover {
		background-color: var(--color-white);
	}
}

.label {
	padding: 0 13px;
	text-align: center;
	background-color: var(--color-blue-700);
	border-radius: 40px;
}

.subtitle {
	font-weight: 600;
	font-size: 15px;
}
